/* TODO GTB-知识点：- 颜色这些应该使用_variable 里面的变量 */
.member-page {
  background-color: #f7f7f7;
  padding: 10px;
}
.member-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.member {
  width: 11%;
  height: 30px;
  border-radius: 5%;
  background-color: lightgrey;
  margin: 5px;
  text-align: center;
}

.add-member {
  cursor: pointer;
  border-radius: 0;
  border: black solid 1px;
}
